# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

myenv/
target/
.DS_Store
*.class

data/Output/CrawledHtml/*
data/Output/CrawledDocuments/*
data/Output/SavedBusinessPartners/*

*.log
